.footer-main{
  /* background-color:#293664; */
  margin: 7%;
}
/* .full{
  display: inline;
} */
h3{
  /* justify-content: center;*/
  text-align: center;
  /* padding-bottom: 3%; */
}
li{
  display: inline;
  padding: 5%;
  text-align: center;
  list-style: none;
}