#header-top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  /* background-color: #293664;  */
  /* background-size: auto 100%;
  /* width: 90%; */
  /* margin: 5% 2%;
}
.titlu {
  text-align: center;
  /* display: flex; */
  margin-bottom: 2rem;
}
h4{
  color:#293664;
}
.img1 {
  /* background-color:blanchedalmond; */
  width: 35%;
  height: 85%;
  object-fit: cover;
}